body {
    margin: 25px;
}

input {
    display: block;
    margin-bottom: 3px;
}

#player-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    margin: 5px;
}

#player-wrapper img {
    width: 100%;
}