body {
    margin: 25px;
}

input {
    display: block;
    margin-bottom: 3px;
}

#players-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    margin: 5px;
}

.player-item {
    text-align: center;
}

.player-item img {
    width: 150px;
}

@media only screen and (max-width: 800px) {
    #players-wrapper {
        grid-template-columns: 1fr;
    }
  }